@use 'sass:math';

// Convert a number to its equivalent in rem
@function rem($number, $context: 16) {
	@return (math.div($number, $context)) * 1rem;
}

:root {
	--primary-font: 'Lato', sans-serif;
	--secondary-font: 'Playfair Display', serif;
	--body-bg: #f4f4f1;
	--selection-bg: #fffaa3;
	--grey: #6a6a6a;
	--dark-grey: #444;
	--dark: #171717;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::selection {
		background-color: var(--selection-bg);
	}
}

body {
	background-color: var(--body-bg);
	color: var(--dark-grey);
	font-family: var(--primary-font);
	letter-spacing: rem(0.5);
	margin-top: 30px;
}

ol {
	list-style-type: none;

	li {
		display: inline-block;
	}
}

img,
svg {
	width: 100%;
	vertical-align: top;
}

/* :: card :: */
.cards__container {
	display: grid;
	grid-template-columns: 1fr;
	margin: rem(30) auto;
	max-width: rem(850);
	width: 95%;
	gap: rem(60);
}

.card {
	display: grid;
	grid-template-columns: 1fr;

	&__thumb {
		overflow: hidden;
		background-color: var(--grey);

		img {
			transition: all 0.3s ease;
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	&__content {
		background-color: white;
		padding: rem(35) rem(15) rem(55);
		position: relative;
		text-align: center;
	}

	&__title {
		color: var(--dark);
		font-family: var(--secondary-font);
		font-size: rem(35);
		font-weight: 400;
		margin-bottom: rem(20);
	}

	&__text {
		line-height: 1.7;
	}

	&__btn {
		background: var(--dark-grey);
		border: none;
		bottom: rem(-20);
		left: 50%;
		padding: rem(10);
		position: absolute;
		transform: translateX(-50%);
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			background-color: var(--grey);
		}

		img {
			width: rem(20);
		}
	}
}

/* :: mediaqueries :: */
@media (min-width: rem(600)) {
	.card {
		grid-template-columns: auto minmax(rem(100), rem(400)) auto;
		grid-template-rows: repeat(4, auto);

		&__thumb {
			width: 100%;
			max-width: rem(550);
			justify-self: center;
			grid-area: 1 / 1 / -2 / -1;
		}

		&__content {
			grid-area: 3 / 2 / -1 / -2;
			padding: rem(45) rem(45) rem(55);
		}
	}
}

@media (min-width: rem(900)) {
	.card {
		grid-template-columns: auto rem(70) minmax(rem(100), rem(400));
		grid-template-rows: repeat(3, auto);

		&:nth-child(even) {
			grid-template-columns: minmax(rem(100), rem(400)) rem(70) auto;
		}

		&__thumb {
			grid-area: 1 / 1 / -1 / 3;

			.card:nth-child(even) & {
				grid-area: 1 / 2 / -1 / -1;
			}
		}

		&__content {
			grid-area: 2 / 2 / -2 / -1;
			text-align: left;

			.card:nth-child(even) & {
				text-align: left;
				grid-area: 2 / 1 / -2 / 3;
			}
		}
	}
}
